In [11]:
# open the csv files as pandas dataframes
# there are 2 csv files, one for the income and one for the expenses

from pandas import read_csv

expenses = read_csv("Accounting_Dalaran_purchases.csv")
income = read_csv("Accounting_Dalaran_sales.csv")

In [12]:
# show the first 5 rows of the income dataframe
income.head()

,itemString,itemName,stackSize,quantity,price,otherPlayer,player,time,source
0,i:175924,Contract: The Undying Army,1,1,71250000,Zerdryx,Hovra,1642346783,Auction
1,i:173134,Deadly Sinvyr Ring,1,1,6792975,Harimis,Hovra,1642280642,Auction
2,i:187446,?,3,27,18997,Merchant,Ieri,1642167682,Vendor
3,i:176809,Cracked Actuator,1,9,4534,Merchant,Ieri,1642167682,Vendor
4,i:178134,Ephemeral Digits,2,14,15085,Merchant,Ieri,1642167682,Vendor

In [13]:
# show the first 5 rows of the expenses dataframe
expenses.head()

,itemString,itemName,stackSize,quantity,price,otherPlayer,player,time,source
0,i:172092,Pallid Bone,345,345,9900,Multiple Sellers,Asharilari,1642241261,Auction
1,i:4499,?,1,3,95000,Merchant,Mertha,1642196061,Vendor
2,i:53010,Embersilk Cloth,950,950,11372,Multiple Sellers,Asharilari,1642191158,Auction
3,i:173033,Iridescent Amberjack,993,993,141309,Multiple Sellers,Asharilari,1641925080,Auction
4,i:179314,Creeping Crawler Meat,498,498,145683,Multiple Sellers,Asharilari,1641925078,Auction